/*一图流css*/

/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 自定义页脚*/
/* tzy页脚样式 */
#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    color: rgb(255 255 255 / 80%) !important;
    text-align: left;
    flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
    display: flex;
    height: 100%;
    padding: 2px 14px;
}

.ft-item-1 {
    flex-direction: column;
    flex: 2;
}

.ft-item-2 {
    flex: 1;
    flex-direction: column;
}

.t-top {
    display: flex;
}

.t-top .t-t-l {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
    width: 85%;
    border-radius: 10px;
    padding: 0 10px;
}

.btn-xz-box {
    margin-top: 10px;
}

/* 按钮背景颜色等 */
.btn-xz {
    display: block;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
}

.btn-xz:hover {
    text-decoration: none !important;
}
/* 按钮悬浮颜色 */
.btn-xz-box:hover .btn-xz {
    background-color: var(--text-bg-hover);
}

.t-top .t-t-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ft-links {
    padding: 0 14px;
    list-style: none;
    margin-top: 0 !important;
}

.ft-links li a {
    display: inline-block !important;
    width: 50%;
}
/* 链接悬浮颜色 */
.ft-links li a:hover {
    text-decoration: none !important;
    color: var(--theme-color) !important;
}

.ft-item-2 .ft-img-group {
    width: 100%;
}

.ft-t {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
}

.t-l-t {
    padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
    display: inline-block;
    width: 18.4%;
    margin-right: 14px;
    margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ft-item-2 .ft-img-group .img-group-item a img {
    width: 100%;
    max-height: 80px;
    border-radius: 10px;
}
/* 头像悬浮颜色框 */
.ft-item-2 .ft-img-group .img-group-item a img:hover {
    border: 2px solid var(--theme-color);
}

@media screen and (max-width: 768px) {
    .ft-item-1 {
        flex-basis: 100% !important;
    }

    .ft-item-2 {
        flex-basis: 100% !important;
    }

    .t-top .t-t-l .bg-ad {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .t-top {
        flex-wrap: wrap;
    }

    .t-top .t-t-l {
        flex-basis: 100% !important;
    }

    .t-top .t-t-r {
        margin-top: 16px;
        flex-basis: 100% !important;
    }
}
#footer-wrap a {
    border-radius: 30px;
}
#footer-wrap {
    padding: 20px 20px;
}

/* 页脚心跳动画 */
#heartbeat {
    color: red;
    animation: iconAnimate 1s ease-in-out infinite;
}
@-moz-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
@-webkit-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
@-o-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
@keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}

@font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'JNBBH';   /*荆南麦圆体*/
    /* 字体文件地址(相对或者绝对路径都可以) */
    src: url(https://this0.oss-cn-chengdu.aliyuncs.com/blog/base/font/JingNanBoBoHei-Bold-2.ttf); /*替换为自己的字体文件*/
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
}

/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
    animation: none;
}
/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
    animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
    animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
    animation: light_5px 10s linear infinite;
}
/* 关键帧描述 */
@keyframes light_15px {
    0% {
        text-shadow: #5636ed 0 0 15px;
    }
    12.5% {
        text-shadow: #11ee5e 0 0 15px;
    }
    25% {
        text-shadow: #f14747 0 0 15px;
    }
    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }
    50% {
        text-shadow: #f1ee47 0 0 15px;
    }
    50% {
        text-shadow: #b347f1 0 0 15px;
    }
    62.5% {
        text-shadow: #002afa 0 0 15px;
    }
    75% {
        text-shadow: #ed709b 0 0 15px;
    }
    87.5% {
        text-shadow: #39c5bb 0 0 15px;
    }
    100% {
        text-shadow: #5636ed 0 0 15px;
    }
}

@keyframes light_10px {
    0% {
        text-shadow: #5636ed 0 0 10px;
    }
    12.5% {
        text-shadow: #11ee5e 0 0 10px;
    }
    25% {
        text-shadow: #f14747 0 0 10px;
    }
    37.5% {
        text-shadow: #f1a247 0 0 10px;
    }
    50% {
        text-shadow: #f1ee47 0 0 10px;
    }
    50% {
        text-shadow: #b347f1 0 0 10px;
    }
    62.5% {
        text-shadow: #002afa 0 0 10px;
    }
    75% {
        text-shadow: #ed709b 0 0 10px;
    }
    87.5% {
        text-shadow: #39c5bb 0 0 10px;
    }
    100% {
        text-shadow: #5636ed 0 0 10px;
    }
}

@keyframes light_5px {
    0% {
        text-shadow: #5636ed 0 0 5px;
    }
    12.5% {
        text-shadow: #11ee5e 0 0 5px;
    }
    25% {
        text-shadow: #f14747 0 0 5px;
    }
    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }
    50% {
        text-shadow: #f1ee47 0 0 5px;
    }
    50% {
        text-shadow: #b347f1 0 0 5px;
    }
    62.5% {
        text-shadow: #002afa 0 0 5px;
    }
    75% {
        text-shadow: #ed709b 0 0 5px;
    }
    87.5% {
        text-shadow: #39c5bb 0 0 5px;
    }
    100% {
        text-shadow: #5636ed 0 0 5px;
    }
}